<% provide(:title, 'Friends') %>

<h1 class="center color" style="color:#da4e49">Наши друзья и партнеры</h1>

<div class="sponsors">

   <p ><%= link_to image_tag("administration.jpg", alt: ""), 'http://tagancity.ru/', class: "image" %></p>
   <p class="caption"> <%=link_to "Администрация города Таганрога", 'http://tagancity.ru/'%></p>
 
</div>
  <div class="sponsors">
   <p ><%= link_to image_tag("sudakov.png", alt: ""), 'http://sputnikug.ru/', class: "image " %></p>
   <p class="caption"> <%=link_to "Sudakov-Travel", 'http://sputnikug.ru/'%></p>
  </div>
  <div class="sponsors">
   <p style="width: 263px;"><%= link_to image_tag("all-tag.jpg", alt: ""), 'http://all-tagan.org/', class: "image " %></p>
   <p class="caption"> <p><%=link_to "Весь Таганрог", 'http://all-tagan.org/'%></p></p>
  </div>

  </div>

  